.a1{
    color: rgb(230, 22, 22);
    background-color: rgb(36, 214, 36);
    margin: 10px;
    border: solid 2px rgb(236, 231, 231);
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;
    width: 70%;
 
}
 
h2{
    background-color: rgb(97, 19, 19);
    margin-right: 1200px;
}
.a2{
    font-size: 22px;
}
ol{
    font-size: 16px;
}
ul{
    font-size: 16px;
}
.a4{
    background-color: aqua;
    

}
aside{
    text-align: right;
    margin: 10px;
    padding: 20px;
    border:  2px purple;
    margin-left: 1100px;
    background-color: aquamarine;
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    background: #2ae899;
}
img {
    max-width: 320px;
}